/*
  Created by TheRacingLion (https://trlcs.com/) - 2019
  -*Read LICENSE to know more about permissions*-
*/

@import 'global';

.animated {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

.center {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-img {
  border-radius: 100%;
  width: 35vmin;
}

.error-text {
  font-size: 10vmin;
}

a,
a:visited,
a:hover,
a:active {
  padding-left: 10px;
  padding-right: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: white;
  font-size: 4vmin;
}

a:hover {
  color: yellow;
}
