/*
  Created by TheRacingLion (https://trlcs.com/) - 2019
  -*Read LICENSE to know more about permissions*-
*/

@import 'global';

.center {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;

  &.logo-center {
    top: 24%;
  }

  &.text-center {
    top: 58%;
    z-index: 10;
  }

  &.links {
    top: 75%;
  }
}

.text-center {
  & p {
    font-size: 2vw;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
  }
}

.element {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.links {
  & .container {
    display: flex;
    justify-content: center;
  }

  & .link {
    font-size: 18px;
    width: 100px;
    height: 100px;

    &:hover {
      color: rgb(255, 183, 55);
    }
  }

  & span {
    margin-top: 20px;
    color: #ccc;
    font-size: 35px;
  }
}

/* Car Image */

.flying-car-container {
  position: absolute;

  & span {
    display: none;
    width: 75px;
    position: absolute;
    top: -20px;
    left: -30px;
    font-size: 8px;
  }
}

.flying-car {
  position: absolute;
  max-height: 20px;
  max-width: 20px;
}

/* Logo Image */

.logo {
  height: 75vw;
  width: 75vw;
  max-height: 225px;
  max-width: 225px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 2px solid #000;
  transition: 0.2s;
  animation: appear 0.4s 0.5s ease-in-out;
  animation-fill-mode: backwards;

  &:hover {
    opacity: 0.8;
  }
}

/* Particle Animations */

#background-particles {
  position: absolute;
  width: 100%;
  height: 100%;
}

#line-particles {
  position: fixed;
  width: 100%;
  height: 15%;
  top: 48%;
  left: 0px;
}

/* Animated Planet */

@import 'planet';

/* Media Queries */

@media screen and (min-height: 680px) {
  .logo {
    max-width: 300px;
    max-height: 300px;
  }
}

/* Mobile Media Queries */

@media (min-width: 320px) and (max-width: 480px) {
  .logo {
    max-width: 175px;
    max-height: 175px;
  }

  .center {
    &.logo-center {
      top: 28%;
    }
    &.links {
      top: 68%;
    }
  }

  .text-center {
    & p {
      font-size: 6vw;
    }
  }

  .links {
    & .container {
      display: block;
    }
    & span {
      display: none;
    }
  }
}
